{{ define "main" }}
<div class="max-w-none mb-12">

    <div class="flex flex-col items-center justify-center mb-8">
        {{ if .Params.technology }}
        <h1 class="text-3xl font-bold text-gray-900 mb-6">[{{ .Params.technology | strings.ToUpper }}] {{ .Title }}</h1>
        {{ else }}
        <h1 class="text-3xl font-bold text-gray-900 mb-6">{{ .Title }}</h1>
        {{ end }}

        <div class="bg-gray-100 p-1.5 rounded-lg inline-flex shadow-inner">
            <div>
                <button id="btn-description" onclick="switchTab('description')"
                    class="tab-btn flex items-center justify-center gap-2 px-5 py-2.5 rounded-md text-sm font-medium transition-all duration-200 ease-in-out focus:outline-none focus:ring-2 ring-blue-400 whitespace-nowrap text-gray-500 hover:text-gray-900">

                    <i class="fa-solid fa-file"></i>
                    <span>Description</span>
                </button>
            </div>

            <div>
                <button id="btn-leaderboard" onclick="switchTab('leaderboard')"
                    class="tab-btn flex items-center justify-center gap-2 px-5 py-2.5 rounded-md text-sm font-medium transition-all duration-200 ease-in-out focus:outline-none focus:ring-2 ring-blue-400 whitespace-nowrap text-gray-500 hover:text-gray-900">

                    <i class="fa-solid fa-trophy"></i>
                    <span>Leaderboard</span>
                </button>
            </div>
        </div>
    </div>

    <div class="relative min-h-[400px]">

        <div id="content-description" class="tab-content transition-opacity duration-300">
            <article class="prose max-w-none">
                <div class="content">
                    {{ .Content }}
                </div>
            </article>
        </div>

        {{ partial "exercises/leaderboard.html" . }}

    </div>
</div>

<script src="{{ "js/exercises.js" | relURL }}" defer></script>
{{ end }}